.container {
    max-width: 1056px;
    margin-left: auto;
    margin-right: auto;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 12em;
    padding-bottom: 2em;
}

.content {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.about-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about h2 {
    font-size: 24pt;
    line-height: 24pt;
    font-weight: 600;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Inconsolata', monospace;
}

/** mobile **/
@media screen and (min-width: 0px) and (max-width: 640px) {
    .content { font-size: 12pt; }
    
    .about {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        padding-top: 8em;
        padding-bottom: 2em;
    }

    .about-text{
        padding-left: 72px;
        padding-right:60px;
    }
  }

/** tablet **/
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    .content { font-size: 12pt; }
    
    .about {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        padding-top: 8em;
        padding-bottom: 2em;
    }
  }